<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">

  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:image" content="path/to/image.jpg">
  <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">

  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#000">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#000">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">

  <style>body { opacity: 0; overflow-x: hidden; } html { background-color: #fff; }</style>

</head>

<body class="is-home">


<header class="header wrapper-full">
  <div class="geo_choice">
    <span>Регион: </span>
    <a href="#">Новосибирск и область <i class="fa fa-caret-down"></i></a>
  </div>
  <div class="customer-block">
    <a href="#">Леонид Фёдорович</a>
    <a href="#" class="exit-button">Выход</a>
  </div>
</header>



{% block body %}

{% endblock %}



<footer class="footer wrapper-full">
  <div class="wrapper">
    <div class="footer-head">
      <h2 class="h1">Вы поставщик?</h2>
    </div>

    <div class="items">
      <div class="item">
        <p>Для доступа к телефонам покупателей заполните форму или позвоните нам +7 999 888-77-66</p>
        <p>Текст с дополнительной информацией по условиям сотрудничества. Возможно стоит вынести его на отдельную страницу. Текст с дополнительной информацией по условиям сотрудничества. Возможно стоит вынести его на отдельную страницу.</p>
      </div>
      <div class="item">
        <form action="/">
          <div class="group">
            <label  for="footer_org_name">Организация</label>
            <input id="footer_org_name" type="text">
          </div>
          <div class="group">
            <label for="footer_phone">Телефон</label>
            <input id="footer_phone" type="text">
          </div>
          <div class="group">
            <label for="footer_email">Email</label>
            <input id="footer_email" type="text">
          </div>
          <div class="group">
            <label for="footer_name">Имя</label>
            <input id="footer_name" type="text">
          </div>
          <button class="btn btn-sm">Отправить информацию</button>
        </form>
      </div>
    </div>
  </div>
</footer>


{% block includes %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
<link rel="stylesheet" href="{{static}}css/main.min.css">

<script src="{{static}}js/scripts.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
{% endblock %}
</body>
</html>
